@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$accentColor = #efa00b
$borderRadius = 3px
$textColor = #27476e

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem

.navbar
  background-color: rgba(31, 144, 195, 0.8) !important; /* 1f90c3 */
  box-shadow: 0px 0px 10px #666;
  border: unset !important;

.navbar .links
  background-color: transparent !important;
  color: white;

body
  background-color: #f4f8fb;

body, p, ul, ol
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 400 !important;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  color: hsla(0,0%,0%,0.7)
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  line-height: 1.4rem;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

@media(min-width: $MQMobile)
  body, p, ul, ol
    font-size: 18px;
    line-height: 1.6rem;

kbd
  font-size: 0.9rem

h1, h2, h3, h4, h5, h6, .sidebar-heading, .navbar
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 200 !important;

h2, h3, h4, h5, h6, .sidebar-heading, .navbar
  border-bottom: 1px solid $accentColor;

h1
  border-bottom: 2px solid $accentColor;

.nav-links .nav-item a,
.nav-links .nav-item .nav-link.external a,
.nav-link.router-link-exact-active.router-link-active,
.nav-links a:hover, .nav-links a.router-link-active
  padding: 0 0.5em;
  margin: 0 0.5em;

@media(min-width: $MQMobile)
  .nav-item > a:not(.external):hover::before,
  .nav-item > a:not(.external).router-link-active::before
    height: 0.33rem;
    background-color: #f5ab1f;
    position: absolute;
    top: 1.5rem;
    z-index: -2;
    left: 0;
    transform: skew(-15deg) scale(1);
    transition: all .275s;
    content: ' '
    width: 100%

  .nav-links a:hover,
  .nav-links a.router-link-active
    color: white !important;

.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active
  margin-bottom: unset
  border-bottom: unset

.nav-item:has(>a.router-link-active)
  background-color: white;
  border-radius: 2px;

.links .search-box input
  border-radius: 2px;
  border: unset;

.navbar .nav-links .nav-item
  font-size: 1.2em

svg.icon.outbound
  color: $textColor

.home h2
  text-align: center

.home .hero .description
  max-width: unset;

.search-box input
  border: unset;
  border-radius: $borderRadius;

.site-name
  color: white !important;
  font-weight: bold !important;

img
  display: block
  margin: auto

/**
 * layout for blog post
 */
.page > :first-child.theme-default-content.content__default
  padding-bottom: unset

.page > :nth-child(2).theme-default-content.content__default
  padding-top: unset

.theme-default-content:not(.custom) > :first-child
  margin-top: unset


.theme-container.max-width-960 .page .theme-default-content:not(.custom)
    max-width: 960px;

iframe
  max-width: 100%
  margin: auto
  display: block

.full-bleed img
  max-height: 60vh;

.sidebar-button
  color: white;
  top: 0.8rem !important;


/**
 * Size for images
 */
.full-bleed
  width: 100vw;
  margin-left: 50%;
  transform: translate(-50%);
  // box-shadow: 0 0 20px gray;

.full-bleed img
  max-height: 60vh;

.d-block
  display: block;
  width: 100%;

.width-25
  width: 25%;

.width-33
  width: 33%;

.width-66
  width: 66%;

.width-50
  width: 50%;

.width-40
  width: 40%;

.width-60
  width: 60%;

@media (min-width: $MQMobileNarrow)
  .d-flex
    display: flex;

  .d-flex img
    margin-left: 4px;

  .flex-wrap
    flex-wrap: wrap;

  .flex-basis-25
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;

  .flex-basis-33
    flex-basis: 33%;
    width: 33%;
    max-width: 33%;

  .flex-basis-66
    flex-basis: 66%;
    width: 66%;
    max-width: 66%;

  .flex-basis-50
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;

  .flex-basis-40
    flex-basis: 40%;
    width: 40%;
    max-width: 40%;

  .flex-basis-60
    flex-basis: 60%;
    width: 60%;
    max-width: 60%;

  .flex-direction-column
    flex-direction: column

  .flex-jc-space-between
    justify-content: space-between
