<template>
<div>
  <div v-for="postCategory in postCategories" v-if="items[postCategory.id].length > 0" class="post-category">
    <h2>{{ postCategory.label }}</h2>
    <p>{{ postCategory.description }}</p>
    <div class="flex-container">
      <article class="post-item" v-for="post in items[postCategory.id]">
        <router-link :to="post.path">
          <p
            class="post-cover"
            v-if="post.frontmatter.cover"
            :style="{'background-color': post.frontmatter.cover_color}"
          >
            <img :src="post.frontmatter.cover"/>
          </p>
          <strong>
            {{ post.frontmatter.title }}
          </strong>
          <p class="post-description">
            {{ post.frontmatter.description }}
          </p>
          <p class="post-info">
            Publié le {{post.date}}
          </p>
        </router-link>
      </article>
    </div>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      postCategories: [
        {
          id: "veille",
          path: "/blog/veille/",
          label: "Les mad'zettes",
          description:
            "Sélection fraîche d'infos, à publication à peu près hebdomadaire. Technique, culture, politique dans ce monde de mad'z..."
        },
        {
          id: "humor",
          path: "/blog/humeur/",
          label: "Billets d'humeurs",
          description: "Points de vue sur l'actu ou des événements"
        },
        {
          id: "tech",
          path: "/blog/technique/",
          label: "Articles techniques",
          description:
            "Découvertes / explications / DIY sur des sujets / outils techniques"
        }
      ]
    };
  },
  computed: {
    items() {
      const result = [];
      this.postCategories.forEach(postCategory => {
        result[postCategory.id] = this.$site.pages
          // we select only posts that start with the current path
          // that aren't an index (eg README.md)
          // and that are published (is_published === true)
          .filter(
            i =>
              i.path.startsWith(postCategory.path) &&
              !i.frontmatter.is_index &&
              i.frontmatter.is_published
          )
          // we sort them by date
          .sort(
            (a, b) =>
              new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
          )
          .map(i => ({
            ...i,
            date: i.frontmatter.date
              ? new Date(i.frontmatter.date).toLocaleDateString()
              : "non précisé"
          }));
      });
      return result;
    }
  }
};
</script>

<style lang="stylus" scoped>
h2
  text-align: center

.flex-container
  display: flex
  flex-wrap: wrap

.post-item {
  cursor: pointer;
  width: calc(100% / 2 - 1rem);
  box-sizing: border-box;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  transition: box-shadow .5s ease;
  border-radius: 2px;
  box-shadow: $boxShadowDefault;

  &:hover {
    box-shadow: $boxShadowEnd;
  }
  margin: 0.5rem;

  @media (max-width: 719px) {
    width: 100%;
    margin: 0.25rem 0;
  }

  p {
    margin: unset;
  }
  .post-cover {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: -1rem -1rem 1rem -1rem;
    img {
      max-height: 200px;
    }
  }
}

.post-info
  font-size: 0.8rem
  margin: 0.25rem 0 0 0
  text-align: right

.post-description
  margin: 0.5rem 0
  font-size: .95em

</style>
