<template>
  <footer>
    <p>Généré avec <a href='https://vuepress.org' target='_blank'>VuePress</a></p>
    <p>Copyright © 2018-present Mathieu Dartigues</p>
  </footer>
</template>

<style lang="stylus" scoped>
footer
  text-align: center
  background-color: #eee
  padding: 4rem 0
  width: 100%
</style>
