<template>
  <div class="notfound">
    <p>404... {{errorMessage}}</p>
    <p><a href='/'>Retour à l'accueil</a></p>
  </div>
</template>

<script>

const errorMessages = [
  'vous cherchez une voiture ?... une peugeot ? désolé, on la fait plus celle là...',
  'snif. on a bien cherché pour vous, mais... rien. on trouve pas... si vous reveniez à l\'accueil ?',
  'et paf ! encore une page qui a été jetée à la poubelle... non mais vraiment... !',
]

export default {
  computed: {
    errorMessage() {
      const index = Math.trunc(Math.random() * 100) % errorMessages.length
      return errorMessages[index]
    }
  }
}
</script>
