<template>
  <div id="global-layout">
    <component :is="layout"/>
    <footer>
      <div class="d-flex" :style="{'max-width': $contentWidth}">
        <div class="flex-basis-20">
          <a href="/blog/">Le blog</a><br>
          <a href="/about/">À propos</a><br>
        </div>
        <div class="flex-basis-60">
          Mad-z home, Copyright 2018-2020<br/>
          Mathieu DARTIGUES<br>
        </div>
        <div class="flex-basis-20">
          <!-- <a href="./mentions-legales.html">Mentions légales</a><br> -->
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  computed: {
    layout () {
      if (this.$page.path) {
        if (this.$frontmatter.layout) {
          // You can also check whether layout exists first as the default global layout does.
          return this.$frontmatter.layout
        }
        return 'Layout'
      }
      return 'NotFound'
    }
  }
}
</script>

<style lang="stylus" scoped>
footer
  background-color: #1f90c3
  color: white
  padding: 1rem 0
  text-align: center
  font-size: 1rem
  margin-top: 2rem

footer a
  color: white

footer > div
  max-width: $contentWidth
  margin: 1rem auto
  justify-content: space-between

footer > div div
  margin-bottom: 1rem

@media (min-width: $MQMobileNarrow)
  footer > div div:first-child
    text-align: left

  footer > div div:last-child
    text-align: right
</style>
