<template>
  <parent-layout>
    <madz-blog-index />
  </parent-layout>
</template>

<script>
import ParentLayout from "@parent-theme/layouts/Layout.vue";
import MadzBlogIndex from "../global-components/MadzBlogIndex.vue";

export default {
  components: {
    ParentLayout,
    MadzBlogIndex
  }
};
</script>
