<template>
  <parent-layout>
    <template slot="page-top">
      <div class="theme-default-content content__default">
        <h1 class='page-title'>
          <a class="header-anchor">#</a>
          {{ $page.title }}
        </h1>
        <p class="page-info">
          Publié le {{postDate}} par {{$page.frontmatter.author}}
        </p>
        <p class="page-cover full-bleed" :style="{'background-color': $page.frontmatter.cover_color}">
          <img class="cover" :src="$page.frontmatter.cover" />
        </p>
        <p>
          <strong>{{ $page.frontmatter.description }}</strong>
        </p>
      </div>
    </template>

  </parent-layout>
</template>

<script>
import ParentLayout from "@parent-theme/layouts/Layout.vue";

export default {
  components: {
    ParentLayout,
  },
  computed: {
    postDate() {
      return this.$page.frontmatter.date
        ? new Date(this.$page.frontmatter.date).toLocaleDateString()
        : "non précisé";
    }
  }
};
</script>


<style lang="stylus" scoped>

.page-info {
  margin-top: 0;
  text-align: right;
  font-size: 0.8rem;
}

</style>
